/* Pagination Container */
.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-top: 20px;
}

/* Page Numbers Wrapper */
.pageNumbers {
    display: flex;
    gap: 0;
}

/* Page Number Items */
.polaroidPaginationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    background-image: url('/images/squareFilmStrip.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.polaroidPaginationItem span {
    position: relative;
    z-index: 1;
    font-size: 16px;
    font-weight: 550;
    color: #000;
}

.polaroidPaginationItem.active {
    border: 2px solid #bf359a;
    color: #bf359a;
    opacity: 1;
}

.polaroidPaginationItem:hover {
    transform: scale(1.05);
    opacity: 0.7;
}

/* Navigation Buttons */
.arrowButtonsLeft {
    display: flex;
    margin-right: 3px;
}

.arrowButtonsRight {
    display: flex;
    margin-left: 3px;
}

.paginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 3px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.paginationIcon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.paginationButton:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.paginationButton:hover .paginationIcon {
    transform: scale(1.1);
    opacity: 1;
}

.paginationButton:disabled .paginationIcon {
    opacity: 0.3;
}