.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eadaf5;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
    text-shadow:
        -1px -1px 0 rgb(156, 35, 242),
        1px -1px 0 rgb(156, 35, 242),
        -1px 1px 0 rgb(156, 35, 242),
        1px 1px 0 rgb(156, 35, 242);
}

.message {
    margin: 30px;
}