/* Dropdown Container */
.dropdownWrap {
    display: inline-block;
    border-radius: 8px;
    position: relative;
}

/* Dropdown Select */
.dropdown {
    width: 200px;
    padding: 0.25rem 2rem 0.25rem 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-family: inherit;
    border: 2px solid rgba(255, 255, 255, .8);
    border-radius: 8px;
    background: transparent;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Custom Dropdown Arrow */
.dropdownWrap::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.6rem;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #fff;
    pointer-events: none;
}