.navbar {
  background: none;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: -2rem;
}

.link {
  text-decoration: none;
}

.titleText {
  color: #eadaf5;
  font-size: 1.75rem;
  font-weight: 600;
  margin-left: -75px;
  margin-top: 25px;
  text-shadow:
  -1px -1px 0 rgb(156, 35, 242),
   1px -1px 0 rgb(156, 35, 242),
  -1px  1px 0 rgb(156, 35, 242),
   1px  1px 0 rgb(156, 35, 242);
}

.titleText:hover {
  color: #edef87;
  transition: all 0.5s ease-in-out;
}

.logo {
  margin: 1rem 0 0 2rem;
  width: 90px;
  height: 90px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Media query for mobile screens */
@media (max-width: 753px) {
  .titleText {
    margin-top: 35px;
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}
