.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.artContent {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

.artImage {
  height: 75vh;
  filter: drop-shadow(0 0 10px rgb(11, 20, 13));
  border-radius: 2.5px;
  max-width: 50%;
  object-fit: cover;
}

.detailsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin-left: 1rem;
}

.detailsWrap {
  color: #fff;
  padding: 2rem;
  background-color: hotpink;
  border-radius: 2.5px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  opacity: 0.85;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.paginationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff; 
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}

.paginationButton:hover .paginationIcon {
  background-color: #fff;
  color: #fff;
  transform: scale(1.1);
  opacity: 1;
}

.paginationButton:disabled .paginationIcon {
  background-color: rgba(224, 224, 224, 0.8);
  color: #999;
  cursor: not-allowed;
  opacity: 0.3;
}

.paginationIcon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

/* Media query for mobile screens */
/* max-width based on asus zenbook fold (853) */
@media (max-width: 915px) {
  .artContent {
    display: flex;
    flex-direction: column; /* Stack the image and caption vertically */
    align-items: center; /* Center-align the items */
    position: static; /* Remove absolute positioning */
  }

  .artImage {
    width: 90%; /* Make the image take up 90% of the screen width */
    max-width: 400px; /* Set a maximum width for larger devices */
    height: auto; /* Maintain aspect ratio */
    max-height: 60vh; /* Ensure the image doesn't become too small */
    margin: 0; /* Remove extra margin */
  }

  .detailsColumn {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 0; /* Remove extra margin */
  }
}