.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.artContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
}

.artImage {
    max-width: 50%;
    height: auto;
    max-height: 80vh;
    aspect-ratio: 1000 / 1333 !important;
    filter: drop-shadow(0 0 10px rgb(11, 20, 13));
    border-radius: 2.5px;
    object-fit: contain;
}

.detailsColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-left: 1rem;
}

.detailsWrap {
    position: relative;
    color: #fff;
    padding: 2rem;
    background-color: hotpink;
    border-radius: 2.5px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    opacity: 0.85;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 20px;
}

.detailsWrap::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/infoTexture.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.paginationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    opacity: 0.7;
    width: 30px;
    height: 30px;
}

.paginationButton:hover .paginationIcon {
    background-color: #fff;
    color: #fff;
    transform: scale(1.1);
    opacity: 1;
}

.paginationButton:disabled .paginationIcon {
    background-color: rgba(224, 224, 224, 0.8);
    color: #999;
    cursor: not-allowed;
    opacity: 0.3;
}

.paginationIcon {
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.homeButtonIcon {
    width: 40px;
    background: transparent;
}

.homeButtonLink {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.homeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* Tablets and small laptops in landscape */
@media (max-width: 1024px) and (orientation: landscape) {
    .artImage {
        max-width: 50%;
        height: auto;
        max-height: 75vh;
        aspect-ratio: 1000 / 1333;
    }
}

/* Media query for tablets in portrait mode */
@media (max-width: 1024px) and (orientation: portrait) {
    .artContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
    }

    .artImage {
        width: 90% !important;
        max-width: 400px !important;
        height: auto !important;
        aspect-ratio: 1000 / 1333 !important;
        margin: 0;
    }

    .detailsColumn {
        width: 400px;
        height: auto;
        margin: 0;
        margin-top: 20px;
    }
}

/* Media query for mobile screens in portrait mode */
@media (max-width: 450px) {
    .artContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: static;
        gap: 20px;
    }

    .artImage {
        width: 90% !important;
        max-width: 400px !important;
        height: auto !important;
        aspect-ratio: 1000 / 1333 !important;
        margin: 0;
    }

    .detailsColumn {
        width: 90%;
        height: auto;
        margin: 0;
    }
}

/* Media query for mobile screens in landscape mode */
@media (max-width: 935px) and (orientation: landscape) {
    .artContent {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: flex-start;
        width: 100%;
        max-width: 1200px;
    }

    .artImage {
        width: auto;
        max-width: 50%;
        height: auto;
        max-height: 100%;
        aspect-ratio: 1000 / 1333 !important;
        filter: drop-shadow(0 0 10px rgb(11, 20, 13));
        border-radius: 2.5px;
        object-fit: contain;
    }

    .detailsColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin-left: 1rem;
    }
}