/* Footer Container */
.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    color: #eadaf5;
    font-size: 1rem;
    margin-top: -1.5rem;
    margin-bottom: 1.25rem;
    text-shadow:
        -1px -1px 0 rgb(156, 35, 242),
        1px -1px 0 rgb(156, 35, 242),
        -1px 1px 0 rgb(156, 35, 242),
        1px 1px 0 rgb(156, 35, 242);
}

/* Responsive Layout */
@media (max-width: 1035px) {
    .footer {
        justify-content: center;
        margin-right: 0;
    }
}