.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #eadaf5;
    font-size: 1rem;
    margin: 4rem 3rem 1.5rem 4rem;
    text-shadow:
    -1px -1px 0 rgb(156, 35, 242),
     1px -1px 0 rgb(156, 35, 242),
    -1px  1px 0 rgb(156, 35, 242),
     1px  1px 0 rgb(156, 35, 242);
  }
  
  .copyright {
    font: 1rem sans-serif;
    margin-right: 0.15rem;
    font-size: 1rem;
  }