.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 20px 0;
    --photo-height: 65vh;
    --blurb-height: 51vh;
    --blurb-width: 500px;
}

.sonatoreBlurb {
    position: relative;
    color: rgba(255, 245, 230, 0.904);
    padding: 2rem;
    background: hotpink;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: var(--blurb-width);
    height: var(--blurb-height);
}

.photoGalleryLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--photo-height);
    aspect-ratio: 3 / 4;
}

.sonatoreBlurb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/infoTexture.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
}

/* ===== MOBILE PORTRAIT ===== */
@media (max-width: 450px) and (orientation: portrait) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        min-height: auto;
        gap: 10px;
        margin-top: 10px;
        --element-width: 78.5%;
    }

    .photoGalleryLink {
        max-width: 95%;
        width: 95%;
        height: auto;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        width: 78%;
        height: 360px;
        aspect-ratio: 3 / 4;
    }
}

@media (max-width: 400px) and (orientation: portrait) { 
    .sonatoreBlurb {
        height: 400px;
    }
}

@media (max-width: 380px) and (orientation: portrait) {
    .container {
        --element-width: 76.5%;
    }

    .sonatoreBlurb {
        width: 76%;
        height: 420px;
        aspect-ratio: 3 / 4;
    }
}

/* ===== MOBILE LANDSCAPE ===== */
@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
    .container {
        margin-bottom: 20px;
    }
    .photoGalleryLink {
        width: 60% !important;
        height: auto !important;
        aspect-ratio: 3 / 4 !important;
    }

    .sonatoreBlurb {
        width: 41% !important;
        height: 475px !important;
        aspect-ratio: 3 / 4 !important;
    }
}

/* ===== iPHONE XR, 11 LANDSCAPE ===== */
@media (max-width: 896px) and (max-height: 414px) and (orientation: landscape) {
    .container {
        margin: 20px 0;
        display: flex;
        flex-direction: column !important;
    }

    .photoGalleryLink {
        margin-top: -40px;
        width: 57.5% !important;
        height: auto !important;
        aspect-ratio: 3 / 4 !important;
    }

    .sonatoreBlurb {
        width: 50% !important;
        height: 410px !important;
        aspect-ratio: 3 / 4 !important;
    }
}

/* ===== iPHONE 12, 13, 14 LANDSCAPE ===== */
@media (max-width: 844px) and (max-height: 390px) and (orientation: landscape) {
    .container {
        margin: 20px 0;
        display: flex;
        flex-direction: column !important;
    }

    .photoGalleryLink {
        margin-top: 5px;
        width: 57.5% !important;
        height: auto !important;
        aspect-ratio: 3 / 4 !important;
    }

    .sonatoreBlurb {
        width: 42.5% !important;
        height: 410px !important;
        aspect-ratio: 3 / 4 !important;
    }
}

/* ===== iPHONE 14/15/16 PRO MAX LANDSCAPE ===== */
@media (max-width: 932px) and (max-height: 430px) and (orientation: landscape) {
    .container {
        margin: 20px 0;
        display: flex;
        flex-direction: column !important;
    }

    .photoGalleryLink {
        margin-top: -40px;
        width: 57.5% !important;
        height: auto !important;
        aspect-ratio: 3 / 4 !important;
    }

    .sonatoreBlurb {
        width: 50% !important;
        height: 420px !important;
        aspect-ratio: 3 / 4 !important;
    }
}

/* ===== SMALL TABLETS / NARROW DESKTOPS / BIGGER PHONES ===== */
@media (min-width: 450px) and (max-width: 838px) {
    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 30px;
        --element-width: 50%;
    }

    .sonatoreBlurb {
        width: 42.5%;
        height: 350px !important;
        padding-bottom: 50px !important;
    }

    .photoGalleryLink {
        width: var(--element-width);
        max-width: var(--element-width);
        height: auto;
        aspect-ratio: 3 / 4;
    }
}

/* ===== TABLETS PORTRAIT (iPad) ===== */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .container {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 30px;
    }

    .photoGalleryLink {
        max-width: 50%;
        width: 50%;
        height: auto;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        max-width: 42.5%;
        width: 42.5%;
        height: 350px;
        aspect-ratio: 3 / 4;
    }
}

/* ===== SMALL LAPTOP ===== */
@media (min-width: 862px) and (max-width: 1024px) and (hover: hover) {
    .container {
        gap: 30px;
        margin-top: 30px;
        flex-direction: row;
        --photo-height: 60vh;
        --blurb-width: 450px;
    }

    .sonatoreBlurb {
        width: var(--blurb-width);
        height: 48.5vh;
        aspect-ratio: 3 / 4;
    }

    .photoGalleryLink {
        height: var(--photo-height);
        aspect-ratio: 3 / 4;
    }
}

/* ===== SHORT SCREENS (iPad Mini landscape) ===== */
@media (min-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        gap: 50px;
        margin-top: 20px;
        align-items: center;
        --photo-height: 72.5vh;
    }

    .sonatoreBlurb {
        height: 57.5vh;
        aspect-ratio: 3 / 4;
    }

    .photoGalleryLink {
        height: var(--photo-height);
        aspect-ratio: 3 / 4;
    }
}

@media (min-width: 839px) and (max-width: 861px) {
    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 30px;
        --element-width: 50%;
    }
    
    .sonatoreBlurb {
        width: 42.5%;
    }

    .photoGalleryLink {
        width: var(--element-width);
        max-width: var(--element-width);
        height: auto;
        aspect-ratio: 3 / 4;
        color: blue;
    }
}