.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 0.85;
}

.sonatoreBlurb {
    position: relative;
    color: #fff;
    padding: 2rem;
    background-color: hotpink;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    z-index: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: rgba(255, 245, 230, 0.904);
    max-width: 40%;
    aspect-ratio: 3 / 4;
    height: 65vh;
}

/* Custom scrollbar styling */
.sonatoreBlurb::-webkit-scrollbar {
    width: 4px;
}

.sonatoreBlurb::-webkit-scrollbar-track {
    background: hotpink;
    border-radius: 4px;
}

.sonatoreBlurb::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.sonatoreBlurb::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

.sonatoreBlurb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/infoTexture.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: 0;
    pointer-events: none;
}

.photoGalleryLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    aspect-ratio: 3 / 4;
}

/* Media query for tablets in portrait mode */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }

    .photoGalleryLink {
        max-width: 90%;
        width: 90%;
        height: auto;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        max-width: 90%;
        width: 90%;
        height: 400px;
        aspect-ratio: auto;
    }
}

/* Media query for mobile screens in portrait mode */
@media (max-width: 450px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        min-height: auto;
    }

    .photoGalleryLink {
        max-width: 95%;
        width: 95%;
        height: auto;
        margin-bottom: 20px;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        max-width: 80%;
        width: 80%;
        height: 350px;
        aspect-ratio: auto;
    }
}

/* Media query for mobile screens in landscape mode */
@media (max-width: 935px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        gap: 20px;
        align-items: center;
        min-height: calc(100vh - 4rem);
    }

    .photoGalleryLink {
        height: 70vh;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        height: 70vh;
        aspect-ratio: 3 / 4;
    }
}