.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    opacity: 0.85;
}

.sonatoreBlurb {
    position: relative;
    color: #fff;
    padding: 2rem;
    background-color: hotpink;
    background-image: url('/images/infoTexture.JPG');
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 5px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    z-index: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: rgba(255, 245, 230, 0.904);
    max-width: 40%;
    aspect-ratio: 3 / 4;
    height: 51vh;
}

.photoGalleryLink {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    aspect-ratio: 3 / 4;
}

/* Custom scrollbar styling */
.sonatoreBlurb::-webkit-scrollbar {
    width: 4px;
}

.sonatoreBlurb::-webkit-scrollbar-track {
    background: hotpink;
    border-radius: 4px;
}

.sonatoreBlurb::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.sonatoreBlurb::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}

/* Media query specifically for iPads (Mini, Air, Pro) in portrait */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .container {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 30px;
    }

    .photoGalleryLink {
        max-width: 50%;
        width: 50%;
        height: auto;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        max-width: 42.5%;
        width: 42.5%;
        height: auto;
        aspect-ratio: 3 / 4;
    }
}

/* Media query specifically for iPads in landscape */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        gap: 30px;
        align-items: center;
        min-height: auto;
    }

    .photoGalleryLink {
        height: 65vh;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        height: 65vh;
        aspect-ratio: 3 / 4;
    }
}

/* Media query specifically for iPad Mini in landscape (1024 x 768) */
@media (min-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        gap: 50px;
        margin-top: 20px;
        align-items: center;
    }

    .sonatoreBlurb {
        height: 57.5vh;
        aspect-ratio: 3 / 4;
    }

    .photoGalleryLink {
        height: 72.5vh;
        aspect-ratio: 3 / 4;
    }
}

/* Media query for mobile screens in landscape mode */
@media (max-width: 767px) and (orientation: landscape) {
    .container {
        flex-direction: row;
        gap: 20px;
        align-items: center;
        min-height: calc(100vh - 4rem);
    }

    .photoGalleryLink {
        height: 70vh;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        height: 70vh;
        aspect-ratio: 3 / 4;
    }
}

/* Media query for mobile screens in portrait mode */
@media (max-width: 450px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        min-height: auto;
        gap: 10px;
        margin-top: 10px;
    }

    .photoGalleryLink {
        max-width: 95%;
        width: 95%;
        height: auto;
        aspect-ratio: 3 / 4;
    }

    .sonatoreBlurb {
        max-width: 80%;
        width: 78.5%;
        height: auto;
        aspect-ratio: 3 / 4;
    }
}

@media (max-width: 380px) { 
    .sonatoreBlurb {
        width: 76.5%;
    }
}

/* Media queries for narrow desktop/small laptop screens */
@media (min-width: 450px) and (max-width: 861px) {    
    .container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 30px;
    }

    .sonatoreBlurb {
        width: 50%;
        max-width: 50%;
        height: auto;
        aspect-ratio: 3 / 4;
        box-sizing: border-box;
    }

    .photoGalleryLink {
        width: 50%;
        max-width: 50%;
        height: auto;
        aspect-ratio: 3 / 4;
    }
}

@media (min-width: 862px) and (max-width: 1024px) and (hover: hover) {
    .container {
        gap: 30px;
        margin-top: 30px;
        flex-direction: row;
    }

    .sonatoreBlurb {
        height: 45vh;
        aspect-ratio: 3 / 4;
    }

    .photoGalleryLink {
        height: 60vh;
        aspect-ratio: 3 / 4;
    }
}