body {
  background-color: #262627;
  background: linear-gradient(217deg, rgba(232, 166, 210, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(76, 183, 222, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(255, 0, 0, .8), rgba(0, 0, 255, 0) 70.71%);
  color: #DADADB;
}

.auth-form {
  width: 50%;
}
